<!DOCTYPE html>

<html ng-app="projectApp">

  <head>

    <base href="/">
    <meta charset="utf-8">
    <title>WDI Project 3</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand|Raleway:200" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-mfizz/2.4.1/font-mfizz.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDs_jyxXu7PGnWJz9uYx-dwJ4mmmaM3sF8"></script>
    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->

  </head>

  <body ng-controller="MainCtrl as main" ng-class="main.pageName">

    <nav class="navbar navbar-default" role="navigation">

        <div class="navbar-header">
    			<button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
    				<span class="sr-only">Toggle navigation</span>
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    			</button>
    			<a class="navbar-brand" ui-sref="home">DevBook</a>
    		</div>
    		<div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
    			<ul class="nav navbar-nav">
            <li class="nav-item">
              <a class="nav-link" ui-sref="projectsIndex" ng-if="main.isAuthenticated()">Project Index</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" ui-sref="projectsNew" ng-if="main.isAuthenticated()">Add Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" ui-sref="events" ng-if="main.isAuthenticated()">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" ui-sref="news" ng-if="main.isAuthenticated()">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" ui-sref="login" ng-if="!main.isAuthenticated()">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" ui-sref="register" ng-if="!main.isAuthenticated()">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" ui-sref="usersShow({id: main.currentUserId })" ng-if="main.isAuthenticated()">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="login" ng-click="main.logout()" ng-if="main.isAuthenticated()">Logout</a>
            </li>
    			</ul>
    		</div>
    	</nav>

    <div>

      <div class="message" ng-if="main.message">
        <p>{{main.message}}</p>
      </div>

      <main ui-view></main>

    </div>

    <!-- <footer>
      <div class="footer-bottom">
        <div class="container">
          <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <div>
                <h3>DevBook, Created by Angela, Nimesh & Clare</h3>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <div>
                <h3>DevBook, Created by Angela, Nimesh & Clare</h3>

              </div>
            </div>

          </div>

        </div>
      </div>
    </footer> -->

  </body>

</html>
