<!DOCTYPE html>
<html ng-app="projectApp">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <title>WDI Project 3</title>

    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
  </head>
  <body ng-controller="MainCtrl as main" ng-class="main.pageName">

    <a ui-sref="projectsIndex" ng-if="main.isAuthenticated()">All Projects</a>
    <a ui-sref="projectsNew" ng-if="main.isAuthenticated()">Add Projects</a>
    <a ui-sref="login" ng-if="!main.isAuthenticated()">Login</a>
    <a ui-sref="register" ng-if="!main.isAuthenticated()">Register</a>
    <a ui-sref="usersShow({ id: user.id })" ng-if="main.isAuthenticated()">Profile</a>
    <a href="login" ng-click="main.logout()" ng-if="main.isAuthenticated()">Logout</a>


    <div class ="container">
      <div class = "message" ng-if="main.message">
        <p>{{main.message}}</p>
      </div>

      <main ui-view></main>

    </div>

  </body>
</html>
