// // Import all of your scss files here

//////////////////////////////////////////////// Animations

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transition: scale(1);
  }
}

@keyframes pulseLight {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04);
  }
  100% {
    transition: scale(1);
  }
}

//////////////////////////////////////////////// Variables

$default: #3D2C51;
$primary: #1792AE;
$success: #48A15D;
$info:    #34E6D1;
$warning: #FCBC00;
$danger:  #FF2E00;
$orange:  #FF8900;
$green:   #005B46;

//////////////////////////////////////////////// Extends

.rainbow {
  background-image: linear-gradient(to right, $default, $danger 20%, $orange 40%, $primary 60%, $success 80%, $green);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.centered-styles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-styles {
  width: 100%;
  font-size: 14px;
  padding: 8px 10px;
  border: 0;
  border-radius: 5px;
  background-color: white;
  &:focus {
    outline: none !important;
  }
}

.success {
  background-color: $success;
  color: white;
  &:hover {
    color: $warning;
  }
}

.danger {
  background-color: $danger;
  color: white;
  &:hover {
    color: $warning;
  }
}

.primary {
  background-color: $primary;
  color: white;
  &:hover {
    color: $warning;
  }
}

.warning {
  background-color: $warning;
  color: white;
  &:hover {
    color: $danger;
  }
}

//////////////////////////////////////////////// Styling

* {
  box-sizing: border-box;
}

body {
  background-image: url('http://cdn.wallpapersafari.com/49/2/eEQzwl.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

.container {
  margin: auto;
}

.pageTitle {
  @extend .rainbow;
  font-weight: bold;
  text-decoration: underline;
  font-size: 45px;
  text-align: center;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  letter-spacing: 3px;
}

.fa {
  margin-right: 10px;
  margin-left: 10px;
}

img {
  max-width: 100%;
}

.input-group-addon {
  background-color: $primary;
  i {
    &.fa-search {
      color: white;
      font-size: 18px;
      &:hover {
        color: $warning;
      }
    }
  }

}

.oauthLogin {
  margin-top: 30px;
}

form.ng-dirty {
  input {
    &.ng-valid {
      border: 1px solid $success;
    }
    &.ng-invalid {
      border: 1px solid $danger;
    }
  }
}

.error div {
  color: $danger;
  font-size: 12px;
}

nav {
  div {
    &.navbar-header {
      a {
        &.navbar-brand {
          color: white;
          font-weight: 600;
          &:hover {
            color: $warning;
          }
        }
      }
    }
  }
  &.navbar {
    background-color: $primary;
    a {
      &.nav-link {
        color: white;
        font-size: 16px;
        &:hover {
          color: $warning;
        }
      }
    }
  }
}



i {
  font-size: 60px;
}

img {
  &.avatar {
    border-radius: 50%;
    border: 2px solid $default;
  }
}

footer {
  background-color: $primary;
  color: $default;
}


hr {
  border-color: black;
  border-width: 2px;
}


button {
  &.btn {
    border-radius: 5px;
  }
}
//homepage styling
.btn_github {
  background-color: #24292E;
  color: white;
  margin-bottom: 5px;
  &:hover {
    color: $warning;
  }
}

.loginBtn {
  border-radius: 5px;
}

.btn_linkedin {
  background-color: #0077B5;
  color: white;
  &:hover {
    color: $warning;
  }
}

.btn_home {
  background-color: $success;
  color: white;
}

.quote{
  float: left;
  padding-top: 20%;
  diplay: inline-grid;
  text-align: center;
  color: $default;
  padding-right: 5%;
}

.quoteAuthenticated{
  padding: 10%;
}

.devbookIntro, .loginBox {
  margin: 5px;
  border: 1px solid black;
  padding: 30px;
  float: right;
  display: inline-grid;
  width: 100%;
  text-align: center;
  h2{
    margin-top: 0;
  }
}


ul {
  overflow: hidden;
  list-style: none;
  padding: 0;

  li {
    position: relative;
    cursor: pointer;
    div{
      &.bg-img {
          top:0;
          min-width: 100vw;
          height: 300px;
          border-radius: 5px;
          background-position: center;
          background-size: cover;
          // filter: brightness(.5);
          transition: all 0.3s;
          position: relative;
          .project-overlay {
            opacity: 0;
            transition: all 0.3s ease;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.9);
            .project-info {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              a {
                text-decoration: none;
              }
              h1 {
                color: $orange;
                animation: pulse 2s infinite;
              }
            }
          }
          &:hover {
            z-index: 2;
            // filter: none;
            // filter: brightness(.5);
            transform: scale(1.05);
            .project-overlay {
              opacity: 1;
            }
          }

      }
    }
  }
}
//events page styling

.eventName {
  height: 75px;
  font-size: 30px;
  font-weight: bold;
}
.eventAddress {
  height: 60px;
  font-size: 16px;
}
.eventDescription {
  height: 170px;
  font-size: 14px;
  text-align: justify;
}

.findMore{
  float: right;
}
.eventBox {
  border: 1px solid $default;
  border-radius: 10px;
  width: 48%;
  margin: 5px;
  color: $default;

}
.map {
  height: 300px;
  background-color: ghostwhite;
  width: 100%;
  float: right;
  margin-bottom: 50px;
}

.separator{
  height: 80px;
}

$duration: 30s;

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 4rem;
  background-color: $primary;
  padding-left: 100%;
}

.ticker {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap;
  padding-right: 100%;

  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
 -webkit-animation-name: ticker;
         animation-name: ticker;
  -webkit-animation-duration: $duration;
          animation-duration: $duration;

  &__item {
    display: inline-block;
    padding: 0 2rem;
    font-size: 2rem;
    a {
      color: white;
      font-weight: 200;
      &:hover {
        color: $warning;
      }
    }
  }
}

.progress-bar-success {
    background-color: $success;
}

.progress-bar-warning {
  background-color: $warning;
}

.progress-bar-danger {
  background-color: $orange;
}

.progress-bar-crimson {
  background-color: $danger;
}

.modal-header {
  background-color: $primary;
  height: 80px;
  h3 {
    text-align: center;
    font-size: 36px;
    color: $default
  }
}

.modal-body {
  min-height: 160px;
  margin-left: 30px;
  margin-right: 30px;
  h4 {
    text-align: center;
    font-size: 22px;
    color: $default;
  }
  h6 {
    text-align: center;
    font-size: 18px;
    color: white;
    background-color: $danger;
    margin-top: 20px;
    margin-bottom: 20px;
    border: .5px solid $danger;
    border-radius: 5px;
    padding: 5px;
    animation: pulseLight 1s infinite;
  }
  p {
    text-align: center;
    color: $default;
    font-size: 16px;
  }
}

.modal-footer {
  background-color: $primary;
  button {
    width: 120px;
    font-size: 16px;
  }
}

.showImage {
  margin-top: 30px;
  margin-bottom: 30px;
  img {
    border: 3px solid $default;
    border-radius: 10px;
  }
}

.fa-heart, .fa-heart-o {
  color: $orange;
}

//profile styling
.userInfo{
  float:right;
  border: $default 2px solid;
  .profilePicture{
    border-radius: 50%;
    height: 200px;
    border: $default 0.5px solid;
    margin-left: 23%;
    margin-top: 5%;
  }
  h2{
    text-align: center;
    font-size: 30px;
  }
  .userLinks{
    padding-bottom: 10px;
    i{
      padding-left: 4%;
    }
  }
}

.userProjects{
  float: left
}
.techIconsGrid{
  display: inline-block;
  padding: 25px;
  }

.profileButton{
  margin-bottom: 20px;
  color: $default;
  width: 90%;
  margin-left:5%;
  &.edit{
  background-color: $primary;
  }
  &.delete{
  background-color: $danger;
  }
}
